/** Public WordCamp Pontevedra 2024 CSS */

/*
--wp--preset--color--base: #f9f9f9;
--wp--preset--color--base-2: #ffffff;
--wp--preset--color--contrast: #333333;
--wp--preset--color--contrast-2: #333333;
--wp--preset--color--contrast-3: #A4A4A4;
--wp--preset--color--accent: #cfcabe;
--wp--preset--color--accent-2: #d4cdf4;
--wp--preset--color--accent-3: #35ff69;
--wp--preset--color--accent-4: #6a478d;
--wp--preset--color--accent-5: #b5bdbc;
*/

.sombra-verde {
	box-shadow: 4px 4px 0 0 var(--wp--preset--color--accent-3);
}

.wp-block-button.sombra-violeta a,
.sombra-violeta:not(.wp-block-button) {
	box-shadow: 4px 4px 0 0 var(--wp--preset--color--accent-4);
}


.sombra-blanca,
.suscripciones .wp-block-button__link {
	box-shadow: 4px 4px 0 0 var(--wp--preset--color--base-2);
}

.entry-content li + li {
	margin-top: 1em;
}

/* El menu cambia a mobile en 599px, en 600px aún es desktop */
@media screen and (max-width: 599px) {
	/*
		Jetpack subscribe form
		Using !importants because their selectors are a mess (sorry!)
	*/
	.wp-block-jetpack-subscriptions__form-elements {
		align-items: center !important;
		flex-direction: column;
		gap: 15px;
	}

	#subscribe-email {
		width: 90% !important;
		margin: auto !important;
	}
}

/* En 780 hay otro punto de ruptura */
@media screen and (max-width: 781px) {
	/* Pie de página centrado */
	.contenido-pie {
		flex-direction: column-reverse;
	}

	.contenido-pie .wp-block-column,
	.contenido-pie .wp-block-column p {
		text-align: center !important;
		margin-inline: auto !important;
	}

	.contenido-pie .wp-block-column nav,
	.contenido-pie .wp-block-column ul {
		align-content: center;
		align-items: center;
		margin-inline: auto;
		justify-content: center;
	}
}

.mask-organizer img {
	mask-image: url(https://pontevedra.wordcamp.org/2024/files/2024/04/mask-cuadrado.png);
	mask-size: auto;
	mask-repeat: no-repeat;
	mask-position: center;
}

.mask-organizer img:nth-child(even) {
	transform: rotate(180deg);
}
