/** Public WordCamp Pontevedra 2024 CSS */

/*
--wp--preset--color--base: #f9f9f9;
--wp--preset--color--base-2: #ffffff;
--wp--preset--color--contrast: #333333; // Gris WC Ponte 2024
--wp--preset--color--contrast-2: #333333;
--wp--preset--color--contrast-3: #A4A4A4;
--wp--preset--color--accent: #cfcabe;
--wp--preset--color--accent-2: #d4cdf4; // Lila clarito WC Ponte 2024
--wp--preset--color--accent-3: #35ff69; // Verde WC Ponte 2024
--wp--preset--color--accent-4: #6a478d; // Lila WC Ponte 2024
--wp--preset--color--accent-5: #b5bdbc;

Payload URL to update CSS https://pontevedra.wordcamp.org/2024/wp-admin/admin-ajax.php?action=wcrcss_webhook
*/

.sombra-verde,
.sombra-verde img {
	box-shadow: 4px 4px 0 0 var(--wp--preset--color--accent-3) !important;
}

.wp-block-button.sombra-violeta a,
.sombra-violeta:not(.wp-block-button) {
	box-shadow: 4px 4px 0 0 var(--wp--preset--color--accent-4);
}

.sombra-patros img {
	box-shadow: 4px 4px 0 0 var(--wp--preset--color--accent-4) !important;
}


.sombra-blanca,
.suscripciones .wp-block-button__link {
	box-shadow: 4px 4px 0 0 var(--wp--preset--color--base-2);
}

.entry-content li + li {
	margin-top: 1em;
}

/* El menu cambia a mobile en 599px, en 600px aún es desktop */
@media screen and (max-width: 599px) {
	/*
		Jetpack subscribe form
		Using !importants because their selectors are a mess (sorry!)
	*/
	.wp-block-jetpack-subscriptions__form-elements {
		align-items: center !important;
		flex-direction: column;
		gap: 15px;
	}

	#subscribe-email {
		width: 90% !important;
		margin: auto !important;
	}

	/* formulario-registro */
	.formulario_registro .wp-block-jetpack-contact-form-container,
	.formulario_registro p {
		max-width: 100% !important;
	}

	.form-wc-ponte {
		width: 100%;
		margin-inline: auto;
	}

}

/* En 780 hay otro punto de ruptura */
@media screen and (max-width: 781px) {
	/* Pie de página centrado */
	.contenido-pie {
		flex-direction: column-reverse;
	}

	.contenido-pie .wp-block-column,
	.contenido-pie .wp-block-column p {
		text-align: center !important;
		margin-inline: auto !important;
	}

	.contenido-pie .wp-block-column nav,
	.contenido-pie .wp-block-column ul {
		align-content: center;
		align-items: center;
		margin-inline: auto;
		justify-content: center;
	}
}

.mask-organizer img {
	mask-image: url(https://pontevedra.wordcamp.org/2024/files/2024/04/mask-cuadrado.png);
	mask-size: 256px;
	mask-repeat: no-repeat;
	mask-position: center;
}

li.wcb_organizer:nth-of-type(even) .mask-organizer img {
	mask-image: url(https://pontevedra.wordcamp.org/2024/files/2024/04/mask-cuadrado-2.png);
}

.wcb_organizer .entry-content {
	text-align: center;
}

.wcb_organizer .entry-content .wp-block-social-links {
	justify-content: center;
}

.wcb_organizer .wp-block-social-link-label {
	display: none;
}

.wcb_organizer li.wp-social-link.wp-block-social-link {
	background-color: #e6e6e6 !important;
	color: var(--wp--preset--color--contrast) !important;
}

.wcb_organizer li.wp-social-link.wp-block-social-link svg {
	display: none;
}

.wcb_organizer li.wp-social-link.wp-block-social-link a::before {
	background-size: contain !important;
	content: "";
	display: inline-block;
	visibility: visible;
	height: 30px;
	width: 30px;
}

.wcb_organizer li.wp-social-link.wp-block-social-link.wp-social-link-chain a::before {
	background: url(https://pontevedra.wordcamp.org/2024/files/2024/04/www-icon.png) no-repeat center center;
}

.wcb_organizer li.wp-social-link.wp-block-social-link.wp-social-link-twitter a::before {
	background: url(https://pontevedra.wordcamp.org/2024/files/2024/04/x-icon.png) no-repeat center center;
}

.wcb_organizer li.wp-social-link.wp-block-social-link.wp-social-link-wordpress a::before {
	background: url(https://pontevedra.wordcamp.org/2024/files/2024/04/wp-icon.png) no-repeat center center;
}

.fondo-div-galicia {
	background-color: var(--wp--preset--color--accent-4);
}

.fondo-div-galicia .wp-block-cover__image-background {
	object-fit: contain;
}

/* Botón Contacto, botón lila con sombra verde */
.wp-block-jetpack-contact-form .wp-block-button__link {
	border: 2px solid var(--wp--preset--color--accent-3) !important;
	border-radius: 0;
	padding: 4px 24px;
	background-color: var(--wp--preset--color--accent-4) !important;
	color: var(--wp--preset--color--base-2) !important;
	font-family: "Open Sans" !important;
	font-size: 16.8px;
	font-style: normal;
	font-weight: 700;
	box-shadow: rgb(53, 255, 105) 4px 4px 0px 0px;
}

/* Invertir interrogante para apertura */
.con-interrogante strong {
	font-weight: normal;
	display: inline-block;
	transform: scale(-1,1);
	margin-right: 5px;
}

/* Linea inferior logo */
.div-img-galicia-home {
	position: relative;
}

.div-img-galicia-home::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background-color: #bcaedf;
}

.single-post .entry-content {
	padding-inline: 1em;
}

.cl-home-news .wp-block-post,
.cl-news-pages .wp-block-post {
	margin-top: 1em;
}

/* Máscara de entrada en blog */
.cl-home-news .wp-block-post img,
.cl-news-pages .wp-block-post img,
.single-post .wp-block-post-featured-image .wp-post-image {
	mask-image: url(https://pontevedra.wordcamp.org/2024/files/2024/05/mascara-entrada-blog.png);
	mask-repeat: no-repeat;
	mask-position: center;
}

.cl-home-news .wp-block-post img {
	mask-size: max(370px, 100%);
}

.cl-news-pages .wp-block-post img {
	mask-size: max(250px, 100%);
}

.single-post .wp-block-post-featured-image .wp-post-image {
	mask-size: min(950px, 100%);
}

@media screen and (max-width: 781px) {
	.single-post .wp-block-post-featured-image {
		max-height: 300px;
	}
}

.wp-block-navigation__responsive-container.has-modal-open .wp-block-navigation-submenu {
	padding-top: 0 !important;
}

.wp-block-navigation__responsive-container.has-modal-open .wp-block-navigation__responsive-container-content {
	flex-direction: column-reverse !important;
}

header {
	position: sticky;
	top: 0;
	z-index: 1000;
}

:where(.wp-site-blocks *:focus) {
	outline-width: 1px !important;
	outline-style: solid;
	outline-color: #605e5c !important;
	outline-offset: 4px;
}

/* Favorites solution by by Juan Hernando */
.wcb-favourite-session .wcb-session-favourite-icon a.fav-session-button,
.wordcamp-schedule div.wcb-session-favourite-icon a.fav-session-button:hover,
.wordcamp-schedule div.wcb-session-favourite-icon a.fav-session-button:focus:hover,
.wordcamp-schedule .wcb-favourite-session div.wcb-session-favourite-icon a.fav-session-button:focus {
	color: var(--wp--preset--color--accent-4) !important;
}

.wordcamp-schedule .wcb-favourite-session div.wcb-session-favourite-icon a.fav-session-button:hover,
.wordcamp-schedule div.wcb-session-favourite-icon a.fav-session-button:focus {
	color: #aaa;
}

/* Attendees */
#tix-attendees {
	margin-top: 3em;
	margin-bottom: 6em;
}

#tix-attendees .tix-attendee-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#tix-attendees .tix-attendee-list li {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
}

#tix-attendees .tix-attendee-list li .avatar {
	width: 130px;
	height: 130px;
	float: initial;
}

#tix-attendees .tix-attendee-list li .tix-attendee-name {
	text-align: center;
	margin-inline: auto;
	max-width: 150px;
	font-family: var(--wp--preset--font-family--love-ya-like-a-sister);
	color: var(--wp--preset--color--accent-4);
	font-size: 1.2em;
	line-height: 1.2;
	margin-top: 1em;
}

.avatar {
	mask-image: url(https://pontevedra.wordcamp.org/2024/files/2024/04/mask-cuadrado.png);
	mask-size: 130px;
	mask-repeat: no-repeat;
	mask-position: center;
}

#tix-attendees .tix-attendee-list li:nth-of-type(even) .avatar {
	mask-image: url(https://pontevedra.wordcamp.org/2024/files/2024/04/mask-cuadrado-2.png);
}

@media screen and (max-width: 850px) {
	#tix-attendees .tix-attendee-list {
		flex-wrap: wrap;
	}

	#tix-attendees .tix-attendee-list li {
		width: 100%;
	}
}

/* Schedule */
.wordcamp-schedule .wordcamp-schedule__date {
	font-size: 48px;
	color: var(--wp--preset--color--accent-4)
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__column-header {
	background-color: var(--wp--preset--color--accent-3) !important;
	font-size: 16px;
	font-weight: 700;
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__time-slot-header.is-empty {
	display: none !important;
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__time-slot-header.has-sessions {
	color: var(--wp--preset--color--base-2);
	background-color: var(--wp--preset--color--accent-4) !important;
	font-size: 32px;
	font-weight: 500;
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session {
	background-color: #e6e6e6
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session .wordcamp-schedule__session-title,
.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session .wordcamp-schedule__session-title a {
	color: var(--wp--preset--color--accent-4);
	font-size: 32px;
	font-weight: 700;
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session,
.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__time-slot-header {
	margin: 2px !important;
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session .wordcamp-schedule__session-title .dashicons-star-filled {
	color: var(--wp--preset--color--accent-2);
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session .wordcamp-schedule__session-title .dashicons-star-filled:hover,
.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session .wordcamp-schedule__session-title .dashicons-star-filled:focus,
.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session.wcb-favourite-session .wordcamp-schedule__session-title .dashicons-star-filled {
	color: var(--wp--preset--color--accent-4);
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session .wordcamp-schedule__session-category dd {
	display: inline-block;
	padding-inline: 1em;
	margin-right: 1em;
	background-color: var(--wp--preset--color--accent-3);
	color: var(--wp--preset--color--base-4);
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session .wordcamp-schedule__session-category dd::after {
	content: "";
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session .wordcamp-schedule__session-category dd+dd {
	background-color: var(--wp--preset--color--accent-2);
	color: var(--wp--preset--color--accent-4);
	font-weight: 500;
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session-speaker {
	color: var(--wp--preset--color--accent-4);
	font-size: 21px;
	font-weight: 500;
}

.wordcamp-schedule .wordcamp-schedule__day .wordcamp-schedule__session.wcb-favourite-session {
	background-color: #e0f8ff;
}
